body {
  margin: 0;
}

img,
div {
  width: 100px;
  height: 100px;
}

.x {
  animation: x 4s linear infinite alternate;
}

.y {
  animation: y 1s linear infinite alternate;
}

button {
  height: 100px;
  width: 100px;
}

button:hover {
  left: (math.random);
}

@keyframes x {
  100% {
    transform: translateX(calc(100vw - 100px));
  }
}

@keyframes x {
  100% {
    transform: translateX(calc(100vw - 100px));
  }
}

@keyframes y {
  100% {
    transform: translateY(calc(100vh - 100px));
  }
}

@keyframes y {
  100% {
    transform: translateY(calc(100vh - 100px));
  }
}
