body {
  margin: 0;
}

.disappearing-cursor {
  cursor: none !important;
  margin: 0 !important;
}

.asdf {
  cursor: pointer;
  border: 2px solid black;
  height: 100px !important;
  width: 100px !important;
  background-color: rgb(179, 179, 179) !important;
}

.asdf:active {
  height: 100vh !important;
  width: 100% !important;
  transition: height 2s, width 2s !important;
}

.l3-button {
  box-shadow: none !important;
  cursor: pointer !important;
}

.l3-button-hidden {
  border: none !important;
  background-color: white !important;
  box-shadow: none !important;
  cursor: pointer !important;
}

.l3-button:hover {
  text-decoration: none !important;
  box-shadow: none !important;
  border: none !important;
  cursor: default !important;
  background-color: white !important;
  transition: background-color 2s, border 3s, cursor 2s !important;
}

.l3-button:active {
  border: none !important;
  box-shadow: none !important;
}

.l3-button-transition {
  color: white;
}

.full-height {
  min-height: 100vh;
}

.x {
  animation: x 4s linear infinite alternate;
}

.y {
  animation: y 2s linear infinite alternate;
}

button {
  background-color: rgb(179, 179, 179);
  height: 100px;
  width: 100px;
}

@keyframes x {
  100% {
    transform: translateX(calc(100vw - 100px));
  }
}

@keyframes x {
  100% {
    transform: translateX(calc(100vw - 100px));
  }
}

@keyframes y {
  100% {
    transform: translateY(calc(100vh - 100px));
  }
}

@keyframes y {
  100% {
    transform: translateY(calc(100vh - 100px));
  }
}
