body {
  margin: 0;
  overflow: hidden;
}

.disappearing-cursor {
  cursor: none !important;
  margin: 0 !important;
}

.gray-square {
  margin: none !important;
  display: block;
  height: 100px !important;
  width: 100px !important;
  background-color: rgb(179, 179, 179);
  border: 2px solid black;
}

.l5-button {
  cursor: pointer;
  border: 2px solid black;
  height: 100px !important;
  width: 100px !important;
  background-color: rgb(179, 179, 179) !important;
}

.l3-button {
  box-shadow: none !important;
  opacity: 1 !important;
}

.l3-button-hidden {
  height: 300px;
  width: 300px;
  border: none !important;
  background-color: white !important;
  box-shadow: none !important;
  cursor: pointer !important;
}

.l3-button:active {
  border: none !important;
  box-shadow: none !important;
}

.l3-button-transition {
  color: white;
}

.full-height {
  min-height: 100vh;
}

.full-width {
  min-width: 100vh !important;
}

.fade-out {
  animation-duration: 2s;
  animation-name: fade-out;
  animation-fill-mode: forwards !important;
}

.expand {
  animation-duration: 3s;
  animation-name: expand;
  animation-fill-mode: forwards !important;
}

.x {
  animation: x 4s linear infinite alternate;
}

.y {
  animation: y 1s linear infinite alternate;
}

button {
  background-color: rgb(179, 179, 179);
  height: 100px;
  width: 100px;
}

@keyframes x {
  100% {
    transform: translateX(calc(100vw - 100px));
  }
}

@keyframes x {
  100% {
    transform: translateX(calc(100vw - 100px));
  }
}

@keyframes y {
  100% {
    transform: translateY(calc(100vh - 100px));
  }
}

@keyframes y {
  100% {
    transform: translateY(calc(100vh - 100px));
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes expand {
  from {
    height: 100px;
    width: 100px;
    background-color: rgb(179, 179, 179);
    border: 2px solid black;
  }

  to {
    height: 100vh;
    min-width: 100vh;
    background-color: rgb(179, 179, 179);
    border: 2px solid black;
  }
}
